@charset "utf-8";
@font-face {
    font-family: GOTHAM;
     src: url(../fonte/GOTHAM.TTF);
 }

body {
    width: auto;
}


 /*Editando fonte*/


 p {
     font-family: Arial, Helvetica, sans-serif;
 }

 p#information{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 16px;
     text-align: justify;
     text-indent: 25px;
     margin-bottom: 40px;
 }

 p#table{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    text-indent: 25px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
 }

 h1{
     font-family: GOTHAM;
     color: #000000;
     
 }

 h1#table{
     text-align: center ;
 }

 h3{
     font-family: GOTHAM;
     font-size: 16px;
     color: black;
 }

 h1#cont1{
     color: #e75500;
     font-size: 36px;
     margin-top: 100px;
     text-align: center;
 }

 h1#cont1-1{
    color: rgb(255, 255, 255);
    font-size: 24px;
    margin-top: 150px;
    text-align: center;
}

p#cont1-1{
    color:white;
    text-indent: 25px;
    text-align: justify;
}

 p#cont1{
     text-align: justify;
     text-indent: 25px;
 }

 h1#aprtitulo1{
     margin-top: 50px;
 }

 h2#textapr{
    margin-top: 100px;
 }

 h2#corpo2{
     color: white;
 }

 p#corpo2{
     padding-top: 50px;
     color: white;
     text-align: justify;
     text-indent: 25px;
 }

a#imglogo img{
    margin-left: 50px;
}

/*Editando Menu*/


 
a#link{
    color: rgb(0, 0, 0);
}

a#linkexterno{
    color: blanchedalmond;
}

div#data{
    color: white;
}

a#link3{
    color: black;
}
/*Editando capa*/

div#capa{
    background-image: url(../imagens/capa.jpg) ;
    width: 100%;
    height: 600px;
    padding-top: 200px;
    padding-left: 0px;
    padding-bottom: 200px;
    margin: auto;
}

div#capa h1{
    color: #f07833;
    margin-left: 50px;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: linear;
    transition-delay: 0.1s;
    font-size: 60px;
}

div#capa strong#sub{
    color: #000000;
    margin-left: 50px;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: linear;
    transition-delay: 0.1s;
    font-size: 60px;
}

div#capa h3{
    color: rgba(0, 0, 0,);
    margin-left: 50px;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: linear;
    transition-delay: 0.1s;
}

/* Editando imagens */

img#logo{
    width: 60px;
    height: 40px;
    margin-bottom: -50px;
    margin-left: 120px;
}

img#newsletterimg{
    width: 300px;
    height: 150px;
}

div#newsletter{
    text-align: center;
}

img#dev{
    width: 650px;
    height: 300px;
    margin-top: 100px;
    margin-bottom: 40px;
}

img#img2{
    margin-top: 100px;
}

img#cont1{
    margin-top: 50px;
}

img#meta{
    margin-left: 10px;
}

/* Editando Botão */

button#capa{
    margin-left: 50px;
    margin-top: 20px;
    background-color: #f07833; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: GOTHAM;
    border-radius: 6px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    /*transition-delay: 0.1s;*/
    padding-top: 5px;
    padding-bottom: 5px;
    
}



button#capa.color:hover{
    background:#000000;
}

button#corpo2{
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    border-radius: 6px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}

button#corpo2.color:hover{
    background:#d4d3d3;
    color: white;
}

a#link2{
    color: rgb(255, 255, 255);
}

/* Editando Cont */

div#meta{
    text-align: center;
}

div#aprcorpo{
    padding-top: 70px;
    padding-bottom: 30px;
    
}

div#aprcorpo2{
    padding-top: 150px;
    padding-bottom: 100px;
}

div#aprcorpo3{
    padding-top: 80px;
    padding-bottom: 100px;
}

div#aprcorpo4{
    margin-top: 150px;
    padding-bottom: 50px;
    
}

div#aprcorpo h1{
    color: #0275d8;
}

div#cont1{
   background-color: rgba(0,0,0,0.7);
    margin-top: 100px;
    width: 100%;
    height: 500px;
}

div#container1{
    width: 100%;
    height: 300px;
} 

div#newsletterlb{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;

}

div#corpo2{
    background-color: #0275d8;
    padding-bottom: 100px;
    padding-top: 100px;
}

div#corpo1{
    padding-bottom: 100px;
    padding-top: 100px;
    
}

/*Editando newsletter*/

h1#newsletter{
    margin-top: 150px;
}


/*Editando formulários*/

form#formtrabalhe{
    margin-top: 50px;
}

/* Editando Footer*/

footer{
    background-color: #292b2c;
    color: white;
    margin-top: -10px;
    margin-bottom: -30px;
    padding: 20px;
    width: 100%;
    display: block;
    font-family: GOTHAM;
}

footer p{
    margin-left: 80px;
}

footer#newsletter{
    margin-top: 160px;
}
